.block{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    background: #F2F2F2;
    position: absolute;
    width: 100%;
    height: 100%;

    .container{
        max-width: 1170px;
        max-height: 700;
        position: relative;
        
        margin: 80px auto;
        
        .header{
           position: relative;
           top: 0;
           display: grid;
           grid-template-columns: repeat(1, 1fr 2fr);

            
            
            .left{

                background: #222222;
            }
            .right{
                background: #000000;
               
                p{
                    
                    color: #FFFFFF;
                }
                h2 {
                    
                    color: #FFFFFF;
                    
                }
                a {
                    
                    color: #FFFFFF;
                    
                }
            }
        }
        .content{
            

            .cardgroup {
                
                background: #FFFFFF;
              

                h3{
                    
                    color: #000000;
                    
                }
                p {
                    
                    color: #000000;
                }
                a{
                    
                    color: #000000;
                }

            }
        }
        
    }
}