.block{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    background: #F2F2F2;
    width: 100%;
    height: 860px;
    // left: 0px;
    // top: 0px;
    position: relative;
    .container{
        max-width: 1200px;
        height: 700;
        margin: 0 auto;
        position: relative;
        padding: 0 15px 0 15px;
        top: 80px;

        @media (max-width: 768px) {
            padding: 15px;
            top: 0;
        }
        
        
        .header{
            display: grid;
            grid-template-columns: repeat(1, 1fr 2fr);
            grid-gap: 0;

            
            
            .left{
                position: relative; 
                height: 370px;
                background: #222222;
                @media(max-width: 768px){
                    height: 300px;
                }
                @media(max-width: 491px){
                    height: 250px;
                }
            }
            .right{
                position: relative;
                max-height: 370px;
                background: #000000;
                display: grid;
                grid-template-rows: repeat(3, auto);
                @media(max-width: 768px){
                    height: 300px;
                }
                @media(max-width: 491px){
                    height: 250px;
                }

                p{
                    position: absolute;
                    width: 81px;
                    height: 20px;
                    top: 54px;
                    left: 30px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                   
                }
                h2 {
                    width: 492px;
                    height: 125;
                    color: #FFFFFF;
                    font-size: 48px;
                    line-height: 56px;
                    top: 90px;
                    left: 30px;
                    position: absolute;
                    margin: 0;
                    @media (max-width: 768px) {
                        max-width: 325px;
                        font-size: 38px;
                        line-height: 40px;
                    }
                    @media (max-width: 491px) {
                        max-width: 200px;
                        font-size: 30px;
                        line-height: 35px;
                    }
                }
                a {
                    width: 87px;
                    height: 26px;
                    font-size: 18px;
                    line-height: 25px;
                    color: #FFFFFF;
                    position: absolute;
                    top: 295px;
                    left: 30px;
                    @media(max-width: 768px){
                        top: 240px;
                        font-size: 12px;
                    }
                    @media(max-width: 491px){
                        top: 210px;
                    }
                }
            }

            
        }
        .content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            bottom: 0;
            height: 290px;
            margin: 40px 0 0 0;
            @media(max-width: 768px){
                margin: 15px 0 0 0;
                grid-gap: 10px;
                
            }
            @media(max-width: 491px){
                grid-template-columns: repeat(1, auto);      
                
            }

            .cardgroup {
                background: #FFFFFF;
                position: relative;

                h3{
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 34px;
                    color: #000000;
                    padding: 48px 48px 0 48px;
                    margin: 0;
                    @media(max-width: 768px){
                        
                        font-size: 20px;
                        line-height: 20px;
                        padding: 40px 40px 0 40px;
                    }
                }
                p {
                    padding: 0 48px 0 48px;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                    @media(max-width: 768px){
                        
                        font-size: 15px;
                        line-height: 20px;
                        padding: 0 40px 0 40px;
                    }
                }
                a{
                    padding-left: 48px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000000;
                    @media(max-width: 768px){
                        
                        font-size: 12px;
                        line-height: 25px;
                        padding-left: 40px;
                    }
                }

            }
        }
        
    }
}